/* @import url('./assets/font/inter.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-field {
        @apply mb-5 h-8 rounded-md p-2 text-sm text-black;
    }

    .input-field-nomargin {
        @apply h-8 rounded-md p-2 text-sm text-black dark:border-hidden;
    }

    .btn {
        @apply h-7 select-none rounded-md px-2 py-1 text-sm text-white;
    }

    .btn-blue {
        @apply bg-cyan-700 duration-100 hover:bg-cyan-600;
    }

    .btn-gray {
        @apply rounded-md bg-neutral-200 px-2 py-1 text-sm text-black duration-[50ms]
        hover:bg-cyan-600 hover:text-white 
        dark:bg-gray-400 dark:hover:bg-cyan-600;
    }

    .btn-dark {
        @apply select-none bg-black duration-100 hover:bg-neutral-600;
    }

    .btn-disabled {
        @apply cursor-default bg-neutral-200 text-neutral-400 hover:bg-neutral-200 hover:text-neutral-400
        dark:bg-gray-600 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-gray-400;
    }
}
