
@import url('./assets/font/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-field {
        @apply h-8 mb-5 p-2 rounded-md text-black text-sm;
    }

    .input-field-nomargin {
        @apply h-8 p-2 rounded-md text-black text-sm;
    }

    .btn {
        @apply h-7 text-white py-1 px-2 text-sm rounded-md select-none;
    }

    .btn-blue {
        @apply bg-cyan-700 hover:bg-cyan-600 duration-100 
    }

    .btn-gray {
        @apply bg-neutral-200 py-1 px-2 text-sm rounded-md duration-100 text-black
        hover:bg-cyan-600 hover:text-white 
        dark:bg-gray-400 dark:hover:bg-cyan-600
    }

    .btn-dark {
        @apply bg-black hover:bg-neutral-600 duration-100 select-none;
    }

    .btn-disabled {
        @apply bg-neutral-200 cursor-default text-neutral-400 hover:bg-neutral-200 hover:text-neutral-400
        dark:bg-gray-600 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-gray-400;
    }
}

